<div class="row text-end mb-5">
  <div class="col">
    <button class="btn btn-primary" (click)="handleNewEvent()">
      Új esemény
    </button>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Előző
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Ma
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Következő
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>
      {{ viewDate | calendarDate: view + "ViewTitle":locale:weekStartsOn }}
    </h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Hónap
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Hét
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Nap
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="(events | async)!"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="clickedDate = $event.day.date"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
  ></mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="(events | async)!"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (dayHeaderClicked)="clickedDate = $event.day.date"
    (hourSegmentClicked)="hourSegmentClicked($event)"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
  ></mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="(events | async)!"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (hourSegmentClicked)="hourSegmentClicked($event)"
    [locale]="locale"
  ></mwl-calendar-day-view>
</div>

<ng-template #modalContent let-close="close">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h5 class="modal-title">Esemény szerkesztése</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="type" class="form-label">Esemény típusa</label>
      <br />
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="option1"
          id="inlineRadio1"
          value="option1"
          [checked]="!this.isBreak"
          (change)="changeEventType()"
        />
        <label class="form-check-label" for="inlineRadio1">Esemény</label>
      </div>
      <div class="form-check form-check-inline mb-2">
        <input
          class="form-check-input"
          type="radio"
          name="option2"
          id="inlineRadio2"
          value="option2"
          [checked]="this.isBreak"
          (change)="changeEventType()"
        />
        <label class="form-check-label" for="inlineRadio2">Szünet</label>
      </div>
      <br />

      <label for="title" class="form-label">Esemény neve</label>
      <input
        type="text"
        class="form-control mb-2"
        for="title"
        id="title"
        formControlName="title"
      />

      <label for="start" class="form-label">Esemény kezdete</label>
      <input
        class="form-control mb-2"
        type="datetime-local"
        id="start"
        formControlName="start"
      />

      <label for="end" class="form-label">Esemény vége</label>
      <input
        class="form-control"
        type="datetime-local"
        id="end"
        formControlName="end"
      />
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary close">Mentés</button>
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        Mégse
      </button>
    </div>
  </form>
</ng-template>
